*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin:0;
    padding: 0;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

/*styling for nav bar*/

header{
    background-color: lightseagreen;
}

.menu{
    height: 100%;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 55%;
}

.nav{
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: right;
}

/*styling for main content*/
.main{
    min-height: 100vh;
    min-width: 80vw;
    background-color: rgb(132, 129, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

.main-heading{
    position: absolute;
    top: 7rem;
    left: 25%;
    font-weight: 2rem;
}

.name{
    position: absolute;
    top: 10rem;
    left: 50%;
    font-weight: 2rem;
}

.profile-photo{
    height: 18rem;
    width: 18rem;
    position: relative;
    bottom: 3rem;
    border-radius: 50%;
    background-image: url("profile\ photo.jpg") ;
    background-size: cover;
}

.main-text{
    position: absolute;
    bottom: 8rem;
    left: 20%;
}

/*styling for contact bar */
#contact_bar{
    height: 4rem;
    width: 100%;
    background-color: brown;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.cb-1{
    height: 55%;
    width: 100%;
    background-color:orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cb-11{
    width: 35%;
    display: flex;
    justify-content: space-around;
}

.cb-12{
    width: 65%;
    display: flex;
    justify-content: space-around;
}

#cb_2{
    height: 45%;
    width: 100%;
    background-color: rgb(101, 165, 42);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    color: white;
}

/* changing for responsive website */

@media(min-width:600px){
    .menu{
        position: relative;
        right: 67%;
    }
}

@media(min-width:900px){
    .profile-photo{
        position: absolute;
        right: 3rem;
        bottom: 13rem;
    }
    .main-heading{
        position: absolute;
        top: 17rem;
        font-size: 2.5rem;
    }
    .name{
        position: absolute;
        top: 22rem;
        left: 40%;
        font-size: 2.5rem;
    }
    .menu{
        position: relative;
        right: 70%;
    }
}

@media(min-width: 1000px){
    .main-heading{
        font-size: 3rem;
    }
    .name{
        font-size: 3rem;
    }
}